.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* contact */
.app-container {
  background-color: #007bff;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* navbar */
.navbar {
  background-color: #fff; /* mengatur warna background navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* menambahkan shadow pada navbar */
  padding: 1rem 0; /* memberikan padding pada navbar */
}

.navbar-brand {
  color: #4c4c4c; /* mengatur warna teks pada navbar brand */
  font-weight: bold; /* memberikan ketebalan teks pada navbar brand */
}

.nav-link {
  color: #4c4c4c; /* mengatur warna teks pada navbar link */
  font-weight: 500; /* memberikan ketebalan teks pada navbar link */
  margin-right: 1.5rem; /* memberikan margin kanan pada navbar link */
}

.nav-link:hover {
  color: #007bff; /* mengatur warna teks navbar link saat dihover */
}

.navbar-toggler-icon {
  background-color: #4c4c4c; /* mengatur warna icon navbar toggler */
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 1rem; /* memberikan margin top pada navbar menu saat responsive */
  }

  .nav-link {
    margin-right: 0; /* menghapus margin kanan pada navbar link saat responsive */
    margin-bottom: 0.5rem; /* memberikan margin bottom pada navbar link saat responsive */
  }
}

.about-container{
  min-height: 100vh;
  display: flex;
  align-items: center;

}

.outputp{
  padding-top: 30px;
}

/* Judul */
.custom-title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
}

.custom-title::before {
  background-color: rgba(255, 255, 255, 0.1);
  content: '';
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.custom-title:hover::before {
  animation: move 1s ease-in-out infinite alternate;
}

@keyframes move {
  from {
    left: 0;
    right: 100%;
  }

  to {
    left: 100%;
    right: 0;
  }
}

/* Kartu API*/
.custom-card {
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}

.custom-card:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transform: translateY(-5px);
}

.custom-card:hover .card-title {
  color: #0099cc;
}

.custom-card .card-title {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.custom-card .card-text {
  color: #666;
  font-size: 1.1rem;
  font-weight: 400;
}
